USE [master]
GO
/****** Object:  Database [LaptopNTT]    Script Date: 3/26/2022 4:55:12 PM ******/
CREATE DATABASE [LaptopNTT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LaptopNTT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LaptopNTT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LaptopNTT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LaptopNTT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LaptopNTT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  Login [NT SERVICE\Winmgmt]    Script Date: 3/26/2022 4:55:13 PM ******/
CREATE LOGIN [NT SERVICE\Winmgmt] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\SQLWriter]    Script Date: 3/26/2022 4:55:13 PM ******/
CREATE LOGIN [NT SERVICE\SQLWriter] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\SQLTELEMETRY]    Script Date: 3/26/2022 4:55:13 PM ******/
CREATE LOGIN [NT SERVICE\SQLTELEMETRY] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\SQLSERVERAGENT]    Script Date: 3/26/2022 4:55:13 PM ******/
CREATE LOGIN [NT SERVICE\SQLSERVERAGENT] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT Service\MSSQLSERVER]    Script Date: 3/26/2022 4:55:13 PM ******/
CREATE LOGIN [NT Service\MSSQLSERVER] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT AUTHORITY\SYSTEM]    Script Date: 3/26/2022 4:55:13 PM ******/
CREATE LOGIN [NT AUTHORITY\SYSTEM] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [DESKTOP-3AIN6DL\nthe9]    Script Date: 3/26/2022 4:55:13 PM ******/
CREATE LOGIN [DESKTOP-3AIN6DL\nthe9] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyTsqlExecutionLogin##]    Script Date: 3/26/2022 4:55:13 PM ******/
CREATE LOGIN [##MS_PolicyTsqlExecutionLogin##] WITH PASSWORD=N'MStYh+iZFhl2tcuXXv8Dt8ulWSqQaTi4hFaczLkQgLg=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyTsqlExecutionLogin##] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyEventProcessingLogin##]    Script Date: 3/26/2022 4:55:13 PM ******/
CREATE LOGIN [##MS_PolicyEventProcessingLogin##] WITH PASSWORD=N'VW0xDB6lP2AbzTE7GS8bMZV2DSJAafjLx+2hqYk4vXs=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyEventProcessingLogin##] DISABLE
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\Winmgmt]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\SQLWriter]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\SQLSERVERAGENT]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT Service\MSSQLSERVER]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [DESKTOP-3AIN6DL\nthe9]
GO
USE [LaptopNTT]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 3/26/2022 4:55:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bill_Detail]    Script Date: 3/26/2022 4:55:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill_Detail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Bill] [int] NULL,
	[ID_Product_Color] [int] NULL,
	[Quantity] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[rate] [int] NULL,
	[comment] [nvarchar](300) NULL,
	[ratetime] [datetime] NULL,
	[order_price] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bills]    Script Date: 3/26/2022 4:55:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bills](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Customer] [int] NULL,
	[Date_order] [datetime] NULL,
	[Address] [nvarchar](200) NULL,
	[Confirm] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[Phone_Number] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 3/26/2022 4:55:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NULL,
	[Description] [nvarchar](200) NULL,
	[Image] [nvarchar](200) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 3/26/2022 4:55:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Product_Color] [int] NULL,
	[ID_Customer] [int] NULL,
	[Quantity_Purchased] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colorr]    Script Date: 3/26/2022 4:55:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colorr](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Color] [nvarchar](20) NULL,
	[Image] [nvarchar](200) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 3/26/2022 4:55:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Password] [varchar](50) NULL,
	[Name] [nvarchar](100) NULL,
	[Gender] [nvarchar](4) NULL,
	[Address] [nvarchar](100) NULL,
	[Phone_Number] [char](10) NULL,
	[Note] [nvarchar](200) NULL,
	[Status] [varchar](6) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favorites_list]    Script Date: 3/26/2022 4:55:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorites_list](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Product] [int] NULL,
	[ID_Customer] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[New_Image]    Script Date: 3/26/2022 4:55:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[New_Image](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_New] [int] NULL,
	[Image] [nvarchar](200) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 3/26/2022 4:55:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](300) NULL,
	[Content] [ntext] NULL,
	[Image] [nvarchar](200) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 3/26/2022 4:55:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[ID_Brand] [int] NULL,
	[Group_Pro] [nvarchar](50) NULL,
	[Description] [nvarchar](200) NULL,
	[Price] [money] NULL,
	[Promotion_Price] [money] NULL,
	[Image] [nvarchar](200) NULL,
	[CPU] [nvarchar](25) NULL,
	[GPU] [nvarchar](25) NULL,
	[RAM] [nvarchar](25) NULL,
	[ROM] [nvarchar](25) NULL,
	[Monitor] [nvarchar](25) NULL,
	[Operating] [varchar](15) NULL,
	[Warranty] [nvarchar](10) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[Pin] [nvarchar](50) NULL,
	[Size] [nvarchar](50) NULL,
	[Weight] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Color]    Script Date: 3/26/2022 4:55:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Color](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Color] [int] NULL,
	[ID_Product] [int] NULL,
	[Quantity] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Image]    Script Date: 3/26/2022 4:55:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Image](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Product] [int] NULL,
	[Image] [nvarchar](200) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slide]    Script Date: 3/26/2022 4:55:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slide](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Image] [nvarchar](200) NULL,
	[Title] [nvarchar](100) NULL,
	[Content] [nvarchar](500) NULL,
	[Action] [nvarchar](50) NULL,
	[Discount] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([ID], [Email], [Password], [created_at], [updated_at], [Name]) VALUES (2, N'nthe99124@gmail.com', N'22-9A-1F-8B-1A-62-16-8D-8B-EC-00-82-85-CB-09-41', NULL, NULL, N'The Nguyen')
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[Bill_Detail] ON 

INSERT [dbo].[Bill_Detail] ([ID], [ID_Bill], [ID_Product_Color], [Quantity], [created_at], [updated_at], [rate], [comment], [ratetime], [order_price]) VALUES (1, 1, 28, 1, NULL, NULL, 1, NULL, NULL, 46990000.0000)
INSERT [dbo].[Bill_Detail] ([ID], [ID_Bill], [ID_Product_Color], [Quantity], [created_at], [updated_at], [rate], [comment], [ratetime], [order_price]) VALUES (2, 1, 26, 1, NULL, NULL, 1, NULL, NULL, 34990000.0000)
INSERT [dbo].[Bill_Detail] ([ID], [ID_Bill], [ID_Product_Color], [Quantity], [created_at], [updated_at], [rate], [comment], [ratetime], [order_price]) VALUES (3, 2, 7, 3, NULL, NULL, 1, NULL, NULL, 19990000.0000)
SET IDENTITY_INSERT [dbo].[Bill_Detail] OFF
GO
SET IDENTITY_INSERT [dbo].[Bills] ON 

INSERT [dbo].[Bills] ([ID], [ID_Customer], [Date_order], [Address], [Confirm], [created_at], [updated_at], [Phone_Number]) VALUES (1, 1, CAST(N'2021-03-22T15:13:27.860' AS DateTime), N'Giao An-Giao Thủy-Nam Định', N'Đang giao hàng', NULL, NULL, N'0965149500')
INSERT [dbo].[Bills] ([ID], [ID_Customer], [Date_order], [Address], [Confirm], [created_at], [updated_at], [Phone_Number]) VALUES (2, 1, CAST(N'2021-03-24T09:09:34.767' AS DateTime), N'Giao An-Giao Thủy-Nam Định', N'Chờ xác nhận', NULL, NULL, N'0965149500')
INSERT [dbo].[Bills] ([ID], [ID_Customer], [Date_order], [Address], [Confirm], [created_at], [updated_at], [Phone_Number]) VALUES (3, 1, CAST(N'2021-03-24T09:09:53.880' AS DateTime), N'Giao An-Giao Thủy-Nam Định', N'Đã nhận được hàng', NULL, NULL, N'0965149500')
SET IDENTITY_INSERT [dbo].[Bills] OFF
GO
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([ID], [Name], [Description], [Image], [created_at], [updated_at]) VALUES (1, N'Acer', N'Hãng máy tính Acer', N'/Content/Brand/Image/acer.png', CAST(N'2021-01-28T10:07:41.267' AS DateTime), NULL)
INSERT [dbo].[Brand] ([ID], [Name], [Description], [Image], [created_at], [updated_at]) VALUES (2, N'Dell', N'Hãng máy tính Dell', N'/Content/Brand/Image/Dell.png', CAST(N'2021-01-28T10:07:51.647' AS DateTime), NULL)
INSERT [dbo].[Brand] ([ID], [Name], [Description], [Image], [created_at], [updated_at]) VALUES (3, N'MSI', N'Hãng máy tính MSI', N'/Content/Brand/Image/msi.png', CAST(N'2021-01-28T10:08:01.807' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Brand] OFF
GO
SET IDENTITY_INSERT [dbo].[Colorr] ON 

INSERT [dbo].[Colorr] ([ID], [Color], [Image], [created_at], [updated_at]) VALUES (1, N'Xanh biển', N'', CAST(N'2021-01-31T17:03:56.177' AS DateTime), CAST(N'2021-01-31T17:05:10.900' AS DateTime))
INSERT [dbo].[Colorr] ([ID], [Color], [Image], [created_at], [updated_at]) VALUES (2, N'Đỏ', N'', CAST(N'2021-01-31T17:04:06.430' AS DateTime), NULL)
INSERT [dbo].[Colorr] ([ID], [Color], [Image], [created_at], [updated_at]) VALUES (3, N'Gold', N'', CAST(N'2021-01-31T17:04:15.203' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Colorr] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([ID], [Email], [Password], [Name], [Gender], [Address], [Phone_Number], [Note], [Status], [created_at], [updated_at]) VALUES (1, N'nthe99124@gmail.com', N'22-9A-1F-8B-1A-62-16-8D-8B-EC-00-82-85-CB-09-41', N'Nguyễn Thế', N'Nam', N'M10-L17, Duong Noi urban area, Ha Dong', N'0344039457', NULL, N'Active', NULL, CAST(N'2021-04-27T09:59:38.473' AS DateTime))
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Favorites_list] ON 

INSERT [dbo].[Favorites_list] ([ID], [ID_Product], [ID_Customer], [created_at], [updated_at]) VALUES (2, 23, 1, CAST(N'2021-02-23T13:46:39.450' AS DateTime), NULL)
INSERT [dbo].[Favorites_list] ([ID], [ID_Product], [ID_Customer], [created_at], [updated_at]) VALUES (3, 22, 1, CAST(N'2021-02-23T13:16:19.420' AS DateTime), NULL)
INSERT [dbo].[Favorites_list] ([ID], [ID_Product], [ID_Customer], [created_at], [updated_at]) VALUES (5, 17, 1, CAST(N'2021-02-23T13:17:00.443' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Favorites_list] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Product_Color] ON 

INSERT [dbo].[Product_Color] ([ID], [ID_Color], [ID_Product], [Quantity], [created_at], [updated_at]) VALUES (1, 8, 1, 6, CAST(N'2021-01-31T17:05:50.373' AS DateTime), NULL)
INSERT [dbo].[Product_Color] ([ID], [ID_Color], [ID_Product], [Quantity], [created_at], [updated_at]) VALUES (2, 4, 1, 5, CAST(N'2021-01-31T17:06:01.573' AS DateTime), NULL)
INSERT [dbo].[Product_Color] ([ID], [ID_Color], [ID_Product], [Quantity], [created_at], [updated_at]) VALUES (3, 10, 2, 5, CAST(N'2021-01-31T17:06:36.967' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Product_Color] OFF
GO
SET IDENTITY_INSERT [dbo].[Product_Image] ON 

INSERT [dbo].[Product_Image] ([ID], [ID_Product], [Image], [created_at], [updated_at]) VALUES (1, 1, N'https://laptop88.vn/media/product/5247_tuf_a15_4.jpg', CAST(N'2021-04-05T08:16:18.103' AS DateTime), NULL)
INSERT [dbo].[Product_Image] ([ID], [ID_Product], [Image], [created_at], [updated_at]) VALUES (2, 1, N'https://laptop88.vn/media/product/5247_tuf_a15_1.jpg', CAST(N'2021-04-05T08:16:49.827' AS DateTime), NULL)
INSERT [dbo].[Product_Image] ([ID], [ID_Product], [Image], [created_at], [updated_at]) VALUES (3, 1, N'https://laptop88.vn/media/product/5247_tuf_a15_10.jpg', CAST(N'2021-04-05T08:17:27.767' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Product_Image] OFF
GO
ALTER TABLE [dbo].[Bill_Detail]  WITH CHECK ADD  CONSTRAINT [fk_Bill_BD] FOREIGN KEY([ID_Bill])
REFERENCES [dbo].[Bills] ([ID])
GO
ALTER TABLE [dbo].[Bill_Detail] CHECK CONSTRAINT [fk_Bill_BD]
GO
ALTER TABLE [dbo].[Bill_Detail]  WITH CHECK ADD  CONSTRAINT [fk_Pro_BD] FOREIGN KEY([ID_Product_Color])
REFERENCES [dbo].[Product_Color] ([ID])
GO
ALTER TABLE [dbo].[Bill_Detail] CHECK CONSTRAINT [fk_Pro_BD]
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [fk_cus_bill] FOREIGN KEY([ID_Customer])
REFERENCES [dbo].[Customer] ([ID])
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [fk_cus_bill]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [fk_Cus_c] FOREIGN KEY([ID_Customer])
REFERENCES [dbo].[Customer] ([ID])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [fk_Cus_c]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [fk_Pro_C] FOREIGN KEY([ID_Product_Color])
REFERENCES [dbo].[Product_Color] ([ID])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [fk_Pro_C]
GO
ALTER TABLE [dbo].[Favorites_list]  WITH CHECK ADD  CONSTRAINT [fk_Cus_F] FOREIGN KEY([ID_Customer])
REFERENCES [dbo].[Customer] ([ID])
GO
ALTER TABLE [dbo].[Favorites_list] CHECK CONSTRAINT [fk_Cus_F]
GO
ALTER TABLE [dbo].[Favorites_list]  WITH CHECK ADD  CONSTRAINT [fk_Pro_F] FOREIGN KEY([ID_Product])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[Favorites_list] CHECK CONSTRAINT [fk_Pro_F]
GO
ALTER TABLE [dbo].[New_Image]  WITH CHECK ADD  CONSTRAINT [fk_img_new] FOREIGN KEY([ID_New])
REFERENCES [dbo].[News] ([ID])
GO
ALTER TABLE [dbo].[New_Image] CHECK CONSTRAINT [fk_img_new]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [fk_br_pro] FOREIGN KEY([ID_Brand])
REFERENCES [dbo].[Brand] ([ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [fk_br_pro]
GO
ALTER TABLE [dbo].[Product_Color]  WITH CHECK ADD  CONSTRAINT [fk_Co_CoD] FOREIGN KEY([ID_Color])
REFERENCES [dbo].[Colorr] ([ID])
GO
ALTER TABLE [dbo].[Product_Color] CHECK CONSTRAINT [fk_Co_CoD]
GO
ALTER TABLE [dbo].[Product_Color]  WITH CHECK ADD  CONSTRAINT [fk_Pro_CoD] FOREIGN KEY([ID_Product])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[Product_Color] CHECK CONSTRAINT [fk_Pro_CoD]
GO
ALTER TABLE [dbo].[Product_Image]  WITH CHECK ADD  CONSTRAINT [fk_Pro_Ima] FOREIGN KEY([ID_Product])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[Product_Image] CHECK CONSTRAINT [fk_Pro_Ima]
GO
USE [master]
GO
